.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1.9fr 0.6fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Edit-editor Edit-editor Edit-editor Editor Buttons"
    "Edit-editor Edit-editor Edit-editor Editor Buttons"
    "Edit-editor Edit-editor Edit-editor Editor Buttons"
    "Edit-editor Edit-editor Edit-editor Data Buttons"
    "Edit-editor Edit-editor Edit-editor Data Buttons"
    "Edit-viewer Edit-viewer Edit-viewer Viewer Buttons"
    "Edit-viewer Edit-viewer Edit-viewer Viewer Buttons"
    "Edit-viewer Edit-viewer Edit-viewer Viewer Buttons"
    "Edit-viewer Edit-viewer Edit-viewer Viewer Buttons";
}

.Edit-editor { grid-area: Edit-editor; }

.Edit-viewer { grid-area: Edit-viewer; }

.Editor { grid-area: Editor; }

.Data { grid-area: Data; }

.Viewer { grid-area: Viewer; }

.Buttons { grid-area: Buttons; }

#filler{
  height: 5%;
  
}
/* iframe {
  overflow: scroll;
  border: 1px solid;
  position: relative;
  
} */



  