.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 4px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "Button-one Button-one Button-one Button-one Button-one Spare-one Spare-one Spare-one Spare-one"
      "Edit-editor Edit-editor Edit-editor Edit-editor Edit-editor Editor Editor Editor Editor"
      "Edit-editor Edit-editor Edit-editor Edit-editor Edit-editor Editor Editor Editor Editor"
      "Edit-editor Edit-editor Edit-editor Edit-editor Edit-editor Editor Editor Editor Editor"
      "Edit-editor Edit-editor Edit-editor Edit-editor Edit-editor Data Data Data Data"
      "Edit-editor Edit-editor Edit-editor Edit-editor Edit-editor Data Data Data Data"
      "Button-two Button-two Button-two Button-two Button-two Spare-two Spare-two Spare-two Spare-two"
      "Edit-viewer Edit-viewer Edit-viewer Edit-viewer Edit-viewer Viewer Viewer Viewer Viewer"
      "Edit-viewer Edit-viewer Edit-viewer Edit-viewer Edit-viewer Viewer Viewer Viewer Viewer"
      "Edit-viewer Edit-viewer Edit-viewer Edit-viewer Edit-viewer Viewer Viewer Viewer Viewer"
      "Edit-viewer Edit-viewer Edit-viewer Edit-viewer Edit-viewer Viewer Viewer Viewer Viewer"
      "Edit-viewer Edit-viewer Edit-viewer Edit-viewer Edit-viewer Viewer Viewer Viewer Viewer";
  }
  
  .Button-one { grid-area: Button-one; }
  
  .Edit-editor { grid-area: Edit-editor; }
  
  .Edit-viewer { grid-area: Edit-viewer; }
  
  .Button-two { grid-area: Button-two; }
  
  .Spare-one { grid-area: Spare-one; }
  
  .Editor { grid-area: Editor; }
  
  .Data { grid-area: Data; }
  
  .Spare-two { grid-area: Spare-two; }
  
  .Viewer { grid-area: Viewer; }
  
  
  
  